.formDisplay {
    inset: 0;
    z-index: 50;
    margin-top: 80px;
    margin-left: 450px;
    position: absolute;
    justify-items: center;
    background-color: rgb(255, 250, 250);
    height: 500px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(120, 118, 118);
}

.radioOptions {
    position: absolute;
    margin-left: 140vh;
}

.calendar {
    background-color: #393E46;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.field {
    margin-top: 30px;
}

.dateField {
    width: 210px;
}


.closeButton {
    margin-left: 20px;
}

.filterForm {
    inset: 0;
    z-index: 50;
    margin-top: 200px;
    margin-left: 450px;
    position: absolute;
    justify-items: center;
    background-color: rgb(255, 250, 250);
    height: 200px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(120, 118, 118);
}

.tableEvent {
    position: absolute;
    inset: 0;
    margin-top: 60px;
    height: 100vh;
    overflow: auto;
    color: white;
}

.table {
    background-color: #393E46;
    height: 100vh;
    color: white;
    text-align: center;
}

.textWhite {
    color: white;
    font-style: arial;
    font-size: 15px;
}

.textHeading {
    color: white;
    font-style: arial;
    font-size: 20px;
}

::ng-deep .mdc-label {
    color: white;
}

::ng-deep mdc-radio-selected-focus-icon-color.mdc-radio-selected-focus-icon-color .mdc-radio-selected-focus-icon-color {
    color: white !important;
}

::ng-deep .mat-mdc-radio-button.mat-primary {
    --mdc-radio-disabled-selected-icon-color: #000;
    --mdc-radio-disabled-unselected-icon-color: #000;
    --mdc-radio-unselected-hover-icon-color: #212121;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-selected-focus-icon-color: #edeef1;
    --mdc-radio-selected-hover-icon-color: #edeef1;
    --mdc-radio-selected-icon-color: #edeef1;
    --mdc-radio-selected-pressed-icon-color: #edeef1;
    --mat-radio-ripple-color: #000;
    --mat-radio-checked-ripple-color: #edeef1;
    --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
}