<mat-radio-group class="radioOptions" [(ngModel)]="view">
    <mat-radio-button value="dayGridMonth" (click)=" changeCalendarView('dayGridMonth')" class="textHeading"
        color="primary">Month</mat-radio-button>
    <mat-radio-button value="dayGridWeek" (click)=" changeCalendarView('dayGridWeek')" class="textHeading"
        color="primary">Week</mat-radio-button>
    <mat-radio-button value="customListView" (click)=" changeCalendarView('customListView')" class="textHeading"
        color="primary">List</mat-radio-button>
</mat-radio-group>

<full-calendar #fullCalendar class="calendar" [options]="calendarOptions"></full-calendar>


<div *ngIf="formOpen" class="formDisplay">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="field">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" name="title">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Bill type</mat-label>
                <input matInput formControlName="type" name="type">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Amount</mat-label>
                <input type="number" matInput formControlName="amount" name="amount">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="dateField">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" name="date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Textarea</mat-label>
                <textarea matInput formControlName="description" name="description"></textarea>
            </mat-form-field>
        </div>

        <div>
            <button type="submit" class="submitButton" mat-raised-button color="primary"
                (click)="submitForm()">Submit</button>
            <button type="button" class="closeButton" mat-raised-button color="accent"
                (click)="closeForm()">Close</button>
        </div>
    </form>
</div>

<div *ngIf="filter" class="filterForm">
    <div class="field">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="filterValue">
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="filterEvents()">Filter</button>
        <button mat-raised-button color="accent" (click)="closeForm()" class="closeButton">Close</button>
    </div>

</div>


<div *ngIf="listView" class="tableEvent">
    <mat-table [dataSource]="dataSource" class="table">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef class="textWhite"> Id </mat-header-cell>
            <mat-cell *matCellDef="let element" class="textWhite">{{ element.extendedProps.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef class="textWhite"> Date </mat-header-cell>
            <mat-cell *matCellDef="let element" class="textWhite">{{ element.date }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef class="textWhite"> Title </mat-header-cell>
            <mat-cell *matCellDef="let element" class="textWhite">{{ element.title }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef class="textHeading"> Status </mat-header-cell>
            <mat-cell *matCellDef="let element" class="textWhite">{{ element.extendedProps.status }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef class="textHeading"> Amount </mat-header-cell>
            <mat-cell *matCellDef="let element" class="textWhite"> {{ element.extendedProps.amount }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef class="textHeading"> Type </mat-header-cell>
            <mat-cell *matCellDef="let element" class="textWhite"> {{ element.extendedProps.type }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef class="textHeading"> Description </mat-header-cell>
            <mat-cell *matCellDef="let element" class="textWhite"> {{ element.extendedProps.description }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
</div>